<%- include ("../../partials/header.ejs") %>

<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h2>Acesso de usuários</h2>
            </div>
            <div class="card-body">
                <form action="/authenticate" method="POST" class="form-group">
                    <input class="form-control mb-3" type="email" name="email" placeholder="email@exemplo.com">
                    <input class="form-control mb-3" type="password" name="password" placeholder="********">
                    <button type="submit" class="btn btn-primary btn-block">ENTRAR</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
<%- include ("../../partials/footer.ejs") %>